<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test_hibernate.demo.repo.TestRepo">

    <resultMap id="BaseResultMap" type="com.example.test_hibernate.demo.entity.Test" autoMapping="true">
        <result property="id" column="id"/>
        <result property = "name" column = "name"/>
        <result property = "fio" column = "fio"/>
    </resultMap>

    <sql id="baseCarrierFields">
        id, name, fio
    </sql>
    
    <select id="findAll" resultMap="BaseResultMap">
        select * from test
    </select>

    <sql id="baseCarrier">
        #{test.name},
        #{test.fio}
    </sql>
    <sql id="baseCarrierInsert">
        name,
        fio
    </sql>
    
    <insert id="save">
        INSERT INTO test (
        <include refid="baseCarrierInsert"/>
        )
        VALUES
        (<include refid="baseCarrier"/>)
    </insert>

</mapper>